# Personhood Verification

This security measure is in place to ensure Sybil Resistance and prevent malicious mass-user attacks on Web3 Partnership Programs.

Usher uses [Humanode](https://humanode.io/) to facilitate Biometrics processing so that we can verify that each Partner account is managed by a unique human being.

{% hint style="info" %}
Video and Media captured for Biometrics processing will never leave your device. Instead, a mathematical facial model is produced and encrypted on your device before being sent to Humanode, a decentralised network, for processing.
{% endhint %}

This is a video demonstrating the process of verifying your personhood:

{% embed url="https://www.loom.com/share/5b21d9c654d14fc38d566c74b1125d41" %}
