# Personhood Verification

This is an optional but generally recommended security measure for Campaigns that ensures Sybil Resistance and prevents malicious mass-user attacks on Web3 Partnership Programs.

To pass this verification, Partners must undergo a Biometrics check. Biometrics are used to prove that the Partner is indeed unique and a human being.&#x20;

While this improves security for a Campaign, it also increases the friction involved in Partners engaging with a Campaign.

The primary reason for Sybil Resistance is to prevent bad-actor Partners from engaging in Click Farming activities that may siphon rewards from a Partnership Program.

However, where a Partnership Program only rewards Partners financially through Cryptocurrency, when Cryptocurrency is captured from the Referred User, and the amount captured is greater than the Partner reward, Personhood Verification may not be necessary.

**To put it simply:** Personhood Verification is only required where the financial value rewarded to the Partner is less than the value acquired from the Referred User at the same point of Conversion.

#### Examples of when Personhood Verification IS required

**Example #1:** A dApp that rewards Partners with unvalued NFTs when a Referred User creates an Account by connecting their wallet.

**Example #2:** A Web3 Business Service that rewards Partners with USDC when a Referred User completes a Lead Generation Form.

The above examples do NOT include financial value capture at the point of conversion and reward.&#x20;

Without Personhood Verification, the Campaigns in the examples above are susceptible to mass-user attacks, meaning that a bad-acting Partner can claim more rewards than they truly deserve.

With Personhood Verification, the unique human being that is engaging with this Partnership may only ever receive a single active Invite Link that they can then share to earn rewards.

#### Examples of when Personhood Verification IS NOT required

**Example #1:** A DeFi dApp where Partners are rewarded when Referred Users stake Crypto AND the rewards for each Conversion are a fraction of the fees accrued by the Web3 Brand.

**Example #2:** A NFT Marketplace where Partners are rewarded when Referred Users purchase an NFT AND the rewards for each purchase are a fraction of the fees accrued by the NFT Marketplace.

### How it works

Usher uses [Humanode](https://humanode.io/) to facilitate Biometrics processing. This way, Usher can verify that each Partner account is managed by a unique human being.

{% hint style="info" %}
Video and Media captured for Biometrics processing will never leave the user's device. Instead, a mathematical facial model is produced and encrypted on the device before being sent to Humanode, a decentralised network, for processing.
{% endhint %}

Humanode's technology incorporates [FaceTec](https://www.facetec.com/), a global leader in Biometrics. This gives us a very good indication of the reliability of this security measure and its spoof prevention capability.

This is a video demonstrating the process of verifying your personhood:

{% embed url="https://www.loom.com/share/5b21d9c654d14fc38d566c74b1125d41" %}
